.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  height: 72px;
}

.navigation
  ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 24px;
  font-weight: 500;
}